<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<BaseConfiguration>
		<AdAdapters>
			<AdAdapterInfo>
				<Metadata>
					<Property>
						<Key>WApplicationId</Key>
						<Value>97f58aab-4d8f-43ee-a164-4b8cc63c9154</Value>
					</Property>
					<Property>
						<Key>WAdUnitId</Key>
						<Value>11534392</Value>
					</Property>
					<Property>
						<Key>WWidth</Key>
						<Value>300</Value>
					</Property>
					<Property>
						<Key>WHeight</Key>
						<Value>250</Value>
					</Property>
					<Property>
						<Key>MApplicationId</Key>
						<Value>ced9a39b-3d8f-475e-b095-e025c3d492da</Value>
					</Property>
					<Property>
						<Key>MAdUnitId</Key>
						<Value>11534444</Value>
					</Property>
					<Property>
						<Key>MWidth</Key>
						<Value>480</Value>
					</Property>
					<Property>
						<Key>MHeight</Key>
						<Value>80</Value>
					</Property>
				</Metadata>
				<Name>MicrosoftAdvertising</Name>
				<Weight>100</Weight>
			</AdAdapterInfo>
			<AdAdapterInfo>
				<Metadata>
					<Property>
						<Key>IsHouse</Key>
						<Value>true</Value>
					</Property>
					<Property>
						<Key>WApplicationId</Key>
						<Value>97f58aab-4d8f-43ee-a164-4b8cc63c9154</Value>
					</Property>
					<Property>
						<Key>WAdUnitId</Key>
						<Value>11534393</Value>
					</Property>
					<Property>
						<Key>WWidth</Key>
						<Value>300</Value>
					</Property>
					<Property>
						<Key>WHeight</Key>
						<Value>250</Value>
					</Property>
					<Property>
						<Key>MApplicationId</Key>
						<Value>ced9a39b-3d8f-475e-b095-e025c3d492da</Value>
					</Property>
					<Property>
						<Key>MAdUnitId</Key>
						<Value>11534445</Value>
					</Property>
					<Property>
						<Key>MWidth</Key>
						<Value>480</Value>
					</Property>
					<Property>
						<Key>MHeight</Key>
						<Value>80</Value>
					</Property>
				</Metadata>
				<Name>MicrosoftAdvertisingHouse</Name>
				<Weight>-1</Weight>
			</AdAdapterInfo>
		</AdAdapters>
		<AdControlConfigurations>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534342</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534394</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534343</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534395</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-53787F38-307B-487D-BEFB-29BF35357467</Id>
				<Name>AdMediator_97F841</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534344</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534396</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534345</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534397</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-3E95D3CD-1DBF-483C-B8DA-A8DFF052F652</Id>
				<Name>AdMediator_F1B232</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534346</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534398</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534347</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534399</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-54A5B60A-EF56-421D-A490-25BE6AD6CA4C</Id>
				<Name>AdMediator_5B5DA0</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534348</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534400</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534349</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534401</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-C5201BA9-1FA8-4F58-ADA0-80C32BEDBF38</Id>
				<Name>AdMediator_DACD99</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534350</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534402</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534351</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534403</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-F4357267-138F-45BE-8B34-0805041E1820</Id>
				<Name>AdMediator_E2BF46</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534352</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534404</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534353</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534405</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-05B52E9B-E18B-4991-BD11-6021E3B2C0B9</Id>
				<Name>AdMediator_CEFB20</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534354</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534406</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534355</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534407</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-1ACB1A44-BC34-4CC6-A3D0-906A06E1890E</Id>
				<Name>AdMediator_29C120</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534356</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534408</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534357</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534409</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-1427DCDF-652F-4B48-9776-F6D740D4D5F3</Id>
				<Name>AdMediator_60A27A</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534358</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534410</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534359</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534411</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-D2672B99-79C9-4215-AC8D-2698D2FDE03C</Id>
				<Name>AdMediator_75365E</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534360</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534412</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534361</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534413</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-84205EBC-C168-4F28-9A8A-7F24A1A2EA51</Id>
				<Name>AdMediator_8932E1</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534362</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534414</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534363</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534415</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-7D804532-B18A-4F8C-B8ED-44269728E446</Id>
				<Name>AdMediator_AC3F0B</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534364</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534416</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534365</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534417</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-BE18C750-A1AD-4ECE-AE7D-6E210E84B636</Id>
				<Name>AdMediator_9C1F5A</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534366</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534418</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534367</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534419</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-727C3207-F56A-4F61-935D-B1FB3FBE7635</Id>
				<Name>AdMediator_832B19</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534368</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534420</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534369</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534421</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-C1E86500-05DD-4CBB-A997-7963F42499A1</Id>
				<Name>AdMediator_74CAE4</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534370</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534422</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534371</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534423</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-F9469C3F-480A-4452-92EB-E10E8158967E</Id>
				<Name>AdMediator_231E9F</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534372</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534424</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534373</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534425</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-06A7D580-FEF6-4EB9-BD32-E4EC12BA9203</Id>
				<Name>AdMediator_38E174</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534374</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534426</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534375</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534427</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-E5EF87C7-3AFB-4B5B-9CCF-FB5BF7D1B345</Id>
				<Name>AdMediator_054507</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534376</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534428</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534377</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534429</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-311B3EBB-3A3F-4594-8BBB-0D77CA043C55</Id>
				<Name>AdMediator_E5C348</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534378</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534430</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534379</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534431</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-B63D7650-413D-4874-B975-6BFAFFEA8BEA</Id>
				<Name>AdMediator_CD2D7F</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534380</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534432</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534381</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534433</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-20B61562-6F97-430C-BD4E-68530DED284B</Id>
				<Name>AdMediator_42FED4</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534382</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534434</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534383</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534435</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-C699E2D1-1B9C-49AA-89EA-6F8F37B97785</Id>
				<Name>AdMediator_47EF58</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534384</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534436</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534385</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534437</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-DDBC1706-322F-45B5-88F9-452474943659</Id>
				<Name>AdMediator_4B6DE1</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534386</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534438</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534387</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534439</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-68EFD4E9-F334-49DD-AB65-2043D0EA5049</Id>
				<Name>AdMediator_5A0499</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534388</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534440</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534389</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534441</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-45FC9B8A-A3D7-4527-8226-C7FDC0A87B05</Id>
				<Name>AdMediator_5AA82B</Name>
			</AdControlConfiguration>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534390</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534442</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>11534391</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>11534443</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-1CAA50A5-9697-47D3-ABB1-5F7115023412</Id>
				<Name>AdMediator_D0008C</Name>
			</AdControlConfiguration>
		</AdControlConfigurations>
	</BaseConfiguration>
	<CdnUriFormat>https://admediatorcdn.windowsphone.com/public//swEdStTihqEUu9BlTLKKwmzft9RZRjaW3rKKCZ/EHA=/{0}.config</CdnUriFormat>
	<ConfigId>/swEdStTihqEUu9BlTLKKwmzft9RZRjaW3rKKCZ/EHA=</ConfigId>
	<FileVersion>1.0.0</FileVersion>
	<RefreshRate>30</RefreshRate>
	<SchemaVersion>1.0.3</SchemaVersion>
	<UpdatedDateTime>2015-08-26T20:07:18.4281996Z</UpdatedDateTime>
</AdMediatorConfiguration>